body{
  background-color: palevioletred;
  color: black;
  font-family: 'Abril Fatface', cursive;
  display: flex;
  margin: 0;
}
.jumbotron {
  margin: 5% 0 5%;
  background-color: pink;
  text-align: center;
  min-width: 100%;
  padding: 15% 0 15%;
}

h1 {
  display: flex;
  font-size: 4rem;
  justify-content: center;
}