body{
  background-color: palevioletred;
  color: black;
  font-family: 'Abril Fatface', cursive;
  display: flex;
}
.jumbotron {
  margin-top: 5%;
  background-color: pink;
  text-align: center;
  min-height: 500px;
  min-width: 100%;
  
}

h1 {
  display: flex;
  font-size: 3rem;
  justify-content: center;
}